%h1 Users
%table.table
  %thead
    %tr
      %th #
      %th Email
      %th Name
      %th Actions
  %tbody
    - @users.each.with_index(1) do |user, index|
      %tr{ class: ('table-info' if user == current_user) }
        %td= index
        %td= user.email
        %td= user.username
        %td
          - if current_user.anonymous?
            Sign in to edit users
          - else
            = link_to 'Edit', edit_user_path(user)
