@import 'bootstrap';
@import 'jquery-ui/sortable';
@import 'rails_bootstrap_forms';
@import 'font-awesome';
@import 'forms';
@import 'sticky-footer';

.bootstrap-vertical-nav {
  background: #fff8c1;
  min-height: 100%;
  padding-top: 50px;
}

button, input[type='submit'] {
  cursor: pointer;
}

body > .container {
  padding: 60px 15px 0;
}
