.h1 StaticPages#home
%p Find me in app/views/static_pages/home.html.erb

.row
  .col-md-2
    .row.draggable
      .col
        .form-group
          %label Text input
          %input.form-control{ placeholder: 'Text input' }
          %small.form-text.text-muted Basic Text Input
  .col-md-10
    #sortable-wrapper
      .row.sortable
      .row.sortable
        
