%footer.footer
  .container
    - if Rails.env.development?
      %label
        sign in as:
      = select :user,
        :id, User.all.pluck(:email, :id),
        { include_blank: true, selected: current_user.id },
        onchange: "$.post('/users/' + $(this).val() + '/impersonate');"
